html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #000;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrap {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header,
nav,
.content,
footer {
    width: 100%;
}

header {
    width: 100%;
    height: 470px;
    background: url('img/part0@3x.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

nav .logo-img {
    /* width: 156px; */
    height: 50px;
    margin-top: 19px;
    float: left;
}

nav .logo-img img {
    line-height: 68px;
    height: 35.8px;
}

nav .wrap>ul {
    /* width: 970px;  */
    float: left;
    margin-top: 9px;
    /* margin-left: 54px; */
}

nav .wrap>ul>li {
    float: left;
    line-height: 50px;
    margin-left: 43px;
}

nav .wrap>ul>li>a {
    font-size: 14px;
    color: #fff;
}

nav .wrap>ul>li>a.home {
    font-weight: bold;
}

nav .wrap>ul>li>a.home::after {
    content: '';
    display: block;
    width: 48px;
    margin-top: -12px;
    height: 2px;
    background: #2e4d72;
}

.banner-text {
    font-family: Code-Light;
    font-size: 56px;
    color: #FFFFFF;
    text-align: right;
    margin-top: 33px;
}

.play_btn {
    float: right;
    width: 283px;
    height: 50px;
    margin-top: 29px;
}

.play_btn a:hover,
.play_btn1 a:hover,
.play_btn2 a:hover {
    background-color: #466ea0;
}


/* .play_btn a:active, .play_btn1 a:active, .play_btn2 a:active{background-color: #ff7043;}         */

.play_btn a {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    background: #2e4d72;
    border-radius: 24px;
}

.play_btn a span {
    float: left;
    width: 25px;
    height: 25px;
    margin: 12.5px 8px 13.5px 20px;
    background-image: url("img/GP.svg");
    background-repeat: no-repeat;
}

.content1 {
    width: 100%;
    max-width: 1200px;
    height: 843px;
    margin: 5 auto;
}

.content1-title {
    margin: 80px 0 32px 0;
    font-family: Roboto-Medium;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.content1-ads {
    margin: 20;
    justify-content: center;
    font-family: Roboto-Medium;
    text-align: center;
}
.content1,
.content2,
.content3 {
    overflow: hidden;
}

.content1 .event_list {
    overflow: hidden;
    width: 984px;
    margin: 0 auto;
}

.content1 .event_list>li {
    float: left;
    width: 228px;
    height: 182px;
}

.content1 .event_list li div {
    width: 68px;
    height: 68px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.content1 .event_list li p {
    font-size: 11px;
    font-family: Roboto-Regular;
    font-size: 13px;
    color: #000;
    text-align: center;
}

.download {
    background: url('img/download copy 2@1x.png') no-repeat
}
.download2 {
    background: url('img/kash.png') no-repeat
    }

.download a {
    display: block;
    width: 68px;
    height: 68px;
}

.apply {
    background: url('img/apply copy 2@1x.png') no-repeat
}
.apply2 {
    background: url('img/usawa.png') no-repeat
    
}

.receive {
    background: url('img/receive copy 2@1x.png') no-repeat
}
.receive2 {
    background: url('img/hustler.gif') no-repeat
}

.repay {
    background: url('img/repay copy 4@1x.png') no-repeat
}
.repay2 {
    background: url('img/okoa.gif') no-repeat
}
.repay3 {
    background: url('/img/hela.jpg') no-repeat
}
.next-img {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 22px;
    background-image: url('img/ic_expand_more_black_24px.svg');
    background-repeat: no-repeat;
}

.content1 .img-con1 {
    width: 100%;
    max-width: 1200px;
    height: 520px;
    margin: 0 auto;
}

.content1 .img-con1>div {
    float: left;
    width: 600px;
    height: 520px;
}

.content1 .img-con1>div.img1 {
    background: url('img/index-part2@1x.png') no-repeat;
    background-size: contain;
}

.content1 .img-con1>div.text {
    background: #F4F3F1;
}

.content1 .img-con1>div.text>div {
    width: 324px;
    max-width: 420px;
    height: 100px;
    margin: 67px 0 0 156px;
}

.content1 .img-con1>div.text>div p {
    font-family: Roboto-Black;
    font-size: 28px;
    color: #2D3639;
    font-weight: bold
}

.img-con1 .text>ul {
    margin-left: 188px;
}

.img-con1 .text>ul>li {
    overflow: hidden;
    margin: 31px 0px
}

.img-con1 .text>ul>li>span {
    color: #2e4d72;
    font-weight: bold;
    font-size: 24px;
    float: left;
    width: 24px;
    height: 40px;
    background: url('img/no3@1x.png') no-repeat;
}

.img-con1 .text>ul>li>.span1 {
    background: url('img/no1@1x.png') no-repeat;
}

.img-con1 .text>ul>li>.span2 {
    background: url('img/no2@1x.png') no-repeat;
}

.img-con1 .text>ul>li>div {
    margin-left: 39px;
}

.img-con1 .text>ul>li>div p {
    height: 16px;
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #2e4d72;
}

.img-con1 .text>ul>li>div span {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #989898;
    line-height: 20px;
}

.content1 .img-con1>div.text>div.play_btn1 {
    width: 236px;
    height: 50px;
    margin-top: 29px;
}

.play_btn1 a {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 24px;
    background: #2e4d72;
}

.play_btn1 a span {
    float: left;
    width: 24px;
    height: 24px;
    margin: 12.5px 8px 13.5px 20px;
    background-image: url("img/GP.svg");
    background-repeat: no-repeat;
}

.content2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 386px;
    background: #FAFAFA;
}

.content2 p.title {
    margin-top: 40px;
    font-family: Roboto-Medium;
    font-size: 28px;
    color: #2D3639;
    text-align: center;
    font-weight: bold;
}

.content2 .event_list {
    width: 92%;
    overflow: hidden;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 42px;
}

.content2 .event_list>li {
    float: left;
    width: 328px;
    height: 150px;
}
.content2 .content2-text{
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}
.content2 .content2-text .content2-text-title{
    font-size: 13px;
    text-align: center;
    color: #999;
}

.content2 .event_list li div {
    width: 68px;
    height: 68px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.content2 .event_list li p {
    font-size: 11px;
    font-family: Roboto-Regular;
    font-size: 11px;
    color: #000;
    text-align: center;
}

.fast {
    background: url('img/approval copy 2@1x.png') no-repeat;
}

.dediicated {
    background: url('img/team copy 2@1x.png') no-repeat;
}

.supports {
    background: url('img/supports copy 2@1x.png') no-repeat;
}

.content3 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content3>.fix-box {
    width: 92%;
    max-width: 832px;
    height: 360px;
    margin: 0 auto;
    box-shadow: 0 0 15px #ddd;
    position: relative;
}

.content3>.fix-box>div.img1 {
    float: left;
    width: 100%;
    max-width: 416px;
    height: 360px;
    background: url('img/home_en_cir.png') no-repeat;
}

.content3>.fix-box>div.text {
    float: left;
    width: 100%;
    max-width: 416px;
    height: 340px;
    background: #fff;
}

.content3>.fix-box>div.text>p.title {
    width: 336px;
    height: 66px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: Roboto-Black;
    font-size: 28px;
    font-weight: bold;
    color: #374353;
}

.content3>.fix-box>div.text>p.textInfo {
    width: 100%;
    max-width: 348px;
    line-height: 26px;
    color: #a4a4a4;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 12px;
}

.content3 .play_btn2 {
    float: right;
    width: 236px;
    height: 50px;
    margin-top: 32px;
    margin-right: 40px;
}

.play_btn2 a {
    float: left;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    border-radius: 24px;
    background: #2e4d72;
}

.play_btn2 a span {
    float: left;
    width: 24px;
    height: 24px;
    margin: 12.5px 8px 13.5px 20px;
    background-image: url("img/GP.svg");
    background-repeat: no-repeat;
}

.content4 {
    padding-top: 24px;
    width: 100%;
    height: 104px;
    text-align: center;
    background-image: url('img/bottom_bg.png');
}

.content4 a {
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 15px;
}

.content4 .play_btn3 {
    width: 320px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 18px;
    color: #fff;
}
.content5{
    width: 984px;
    margin: 0 auto;
}
.content5 .statement-text{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.content5 .statement-text .statement-text-title{
    margin-bottom: 16px;
    color: #374353;
    font-size: 28px;
    font-weight: 700;
}
.content5 .statement-text .statement-text-content{
    font-size: 16px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 20px;
}
.content5 .statement-text .statement-bottom{
    margin-top: 40px;
}

.play_btn3 a {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 16px;
}

.play_btn3 a span {
    float: left;
    width: 24px;
    height: 24px;
    margin: 12.5px 8px 13.5px 20px;
    background-image: url("img/GP.svg");
    background-repeat: no-repeat;
}

footer {
    height: 35px;
    background: #444;
}

footer>div {
    width: 100%;
    max-width: 832px;
    height: 68px;
    margin: 0 auto;
}

footer>div a.logo {
    float: left;
    width: 168px;
    height: 50px;
    margin-top: 9px;
    background: url('img/logo@1x.png') no-repeat;
    background-size: contain;
}

footer>div>div.link {
    float: left;
}

footer>div>div.link a {
    float: left;
    margin-top: 27px;
    font-family: RobotoCondensed-Regular;
    font-size: 11px;
    color: #FFF;
    line-height: 16px;
    margin-left: 16px;
}

footer>div>div.link a:hover {
    color: #2e4d72;
}

footer>div>div.link a span {
    padding: 2px 12px;
    background-image: url('img/baseline-email-24px.svg')
}

footer>div>ul {
    float: right;
}

footer>div>ul>li {
    float: left;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    margin-top: 22px;
}

footer>div>ul>li a {
    float: left;
    width: 24px;
    height: 24px;
}

a.twitter_link {
    background-image: url('img/1.svg')
}

a.facebook_link {
    background-image: url('img/2.svg')
}

a.google_link {
    background-image: url('img/3.svg')
}

.capital {
    text-transform: Uppercase;
    padding-left: 55%;
    font-size: 43px;
}

.d_nav li:not(4) {
    opacity: 0.6;
}

.d_nav {
    position: relative;
}

.d_nav .fr {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.lan li {
    width: 120px;
}

.lan li a {
    list-style: none;
    color: #fff;
    font-size: 14px;
}

.lan li:last-child {
    display: none;
}

.lan li:hover {
    opacity: 0.6;
}

.content div.content1>.img-con1>div.text>ul.links>li>div.h2>p.plinks{
    color: rgb(233, 13, 49);
    font-size: 14px;
      
  }
  


/* ç§»åŠ¨ç«¯è‡ªé€‚åº” */

@media screen and (max-width: 600px) {
    header {
        height: 243px;
    }
    nav .logo-img img {
        height: 27.8px;
    }
    .banner-text {
        margin-top: 13px;
    }
    .capital {
        padding-left: 21%;
        font-size: 22px;
    }
    .content1 .img-con1 {
        height: auto;
        overflow: hidden;
    }
    .content1 .img-con1,
    .content1 .img-con1>div {
        width: 100%;
    }
    .play_btn {
        height: 38px;
        width: 237px;
    }
    .play_btn a {
        line-height: 38px;
        font-size: 13px;
        border-radius: 19px;
    }
    .play_btn a span {
        margin: 5.5px 8px 13.5px 15px
    }
    .content1-title {
        margin-top: 33px;
        font-size: 19px;
    }
    .content1 .event_list {
        width: 92%;
        max-width: 984px;
    }
    .content1 .event_list>li {
        width: 19%;
    }

    nav .wrap>ul>li {
        margin-left: 36px;
    }
    .content1 .img-con1>div.text>div {
        margin: 36px 0 0 19px;
        height: 19px;
        margin: 18px auto;
    }

   
    .content1 .img-con1>div.text>div p {
        
        font-size: 18px;
    }
    .img-con1 .text>ul {
        width: 82%;
        margin: 0 auto;
    }
    .content1 .img-con1>div.text>div.play_btn1 {
        height: 40px;
    }
    .content5{
        width: 94%;
        margin: 0 auto;
    }
    
    .content5 .statement-text{
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    .content5 .statement-text .statement-text-title{
        margin-bottom: 16px;
        color: #374353;
        font-size: 20px;
        font-weight: 700;
    }
    .content5 .statement-text .statement-text-content{
        font-size: 12px;
        color: #a4a4a4;
        font-weight: 400;
        line-height: 16px;
    }
    .content5 .statement-text .statement-bottom{
        margin-top: 40px;
    }

    .play_btn1 a {
        line-height: 40px;
    }
    .play_btn1 a span {
        margin-top: 5.5px;
    }
    .content1 {
        height: auto;
    }
    .content1 .img-con1>div {
        height: auto;
    }
    .content2 {
        height: auto;
    }
    .content2 .event_list>li {
        width: 32%;
    }
    .content3>.fix-box{width: 100%;margin: 0;}
    .content4 .play_btn3 {
        width: 260px;
        height: 40px;
    }
    .play_btn3 a {
        line-height: 40px;
    }
    .play_btn3 a span,.play_btn2 a span {
        margin-top: 6.5px;
    }
    footer {
        height: 130px;
    }
    footer>div{
        height: 50px;
    }
    footer>div a.logo {
        width: 70px;
    }
    footer>div a.logo {
        height: 35px;
        background-position: center;
        width: 100%;
    }
    footer>div>div.link a{margin-top: 5px;}
    .content3>.fix-box>div.text>p.textInfo{
        margin-left: 26px;
    }
    footer>div>ul{
        float: none;
        width: 30%;
        text-align: center;
        margin: 0 auto;
    }
    footer>div>ul>li{margin-top: 6px;}
    .content3 .play_btn2{
        height: 40px;
    }
    .play_btn2 a{
        line-height: 40px;
    }



    .list2{
        color: red;
        font-size: 40px;
    }



    .list2::before{

    
        content: "\00BB";
        
    }
    
}