.nav-item{
  text-decoration: solid;
  font-style: normal;
  font-weight: bold;

}
.navbar-brand{
  text-decoration: solid;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  -webkit-flow-into: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    margin: 5px;   
}
.custom-nav {
    background-color: #aafff4; /* set the background color to blue */
  }
  .button{

    padding: 10px;
    text-align: center;
    font-style: inherit;
    
  }
  .p{
    font-family: Roboto;
    font-size: 20px;
  }
  
footer {
  background: url('/images/bottom_bg.png') no-repeat;
    color: #FFF;
    padding: 10px;
    text-align: center;
    
  }
 a{
    padding: 5px;
    align-self: center;
 }
introduction{
    font: size 5px;
} 
h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .jumbotron {
   
    color: #fff;
}
 